@import "./fonts.css";
@import "../fonts/icomoon/style.css";
@import "./css3_animations.css";
@import "./common/variable";
@import "./common/common";
@import "./common/header";

.section-404 {
    text-align: center;

    .title-404 {
        font-size: 16rem;
        font-family: $font_title;
        font-weight: 600;
        line-height: 1;

        @include Responsive(MOBILE) {
            font-size: 128px;
        }
    }

    .desc-404 {
        font-size: 2.6rem;
        font-family: $font_title;
        font-weight: 600;
        margin-bottom: 1.5rem;

        @include Responsive(MOBILE) {
            font-size: 1rem;
            margin-bottom: 10px;
        }
    }
}

@import "./common/footer";
