@import "./fonts.css";
@import "../fonts/icomoon/style.css";
@import "./css3_animations.css";
@import "./common/variable";
@import "./common/common";
@import "./common/header";

.author-article {
    font-size: 14px;
    text-align: center;
    color: #828282;
    margin-top: 1rem;
}

.desc-article {
    font-style: italic;
    font-size: 0.9rem;
    max-width: 800px;
    margin: 1.2rem auto 0;
    text-align: center;
}

.about-detail-section {
    .about-video {
        margin-bottom: 3rem;

        iframe {
            border-radius: 30px;

            @include Responsive(MOBILE) {
                border-radius: 1rem;
            }
        }
    }

    .t-box-editor {
        font-family: Tahoma, Geneva, sans-serif;
    }
}

@import "./section/slogan-section.scss";
@import "./common/footer";
