@import "./fonts.css";
@import "../fonts/icomoon/style.css";
@import "./css3_animations.css";
@import "./common/variable";
@import "./common/common";
@import "./common/header";
@import "./section/breadcrumb.scss";

.about-section {
    .box-video {
        @include Responsive(IPAD) {
            margin-top: 2rem;
        }

        iframe {
            border-radius: 20px;
            @include Responsive(MOBILE) {
                border-radius: 1rem;
            }
        }
    }
}

.vision-section {
    .list-vision {
        margin-bottom: 3rem;

        .col-lg-6 {
            &:first-child {
                @include Responsive(IPAD) {
                    margin-bottom: 3rem;
                }
            }
        }
    }
    .item-vision {
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 20px;
        padding: 2.4rem 3.2rem;
        height: 100%;
        @include Responsive(MOBILE) {
            flex-wrap: wrap;
            text-align: center;
        }

        .icon {
            width: 30%;
            @include Responsive(MOBILE) {
                width: 100%;
                margin-bottom: 1rem;
            }

            .box-img-flex {
                height: 72px;
            }
        }

        .box-content {
            width: 70%;

            @include Responsive(MOBILE) {
                width: 100%;
            }

            .title {
                @include font_34;
                font-family: $font_title;
                font-weight: 600;
                margin-bottom: 0.8rem;
            }

            .desc {
            }
        }
    }

    .title-core-values {
        @include font_34;
        font-weight: 600;
        text-align: center;
        margin-bottom: 2.2rem;
    }

    .list-core-values {
        position: relative;

        @include Responsive(MD) {
            &::before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                transform: rotate(45deg);
                width: 18px;
                height: 18px;
                background: $color_text;
            }
            &::after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                right: 0;
                width: 2px;
                height: 100%;
                background: $color_text;
                margin: 0 auto;
            }
        }

        .item-core {
            position: relative;
            display: flex;
            align-items: center;
            column-gap: 4.7rem;
            margin-bottom: 5.5rem;
            @include Responsive(MOBILE) {
                flex-wrap: wrap;
                margin-bottom: 1.5rem;
            }

            @include Responsive(MD) {
                &:nth-child(2n + 2) {
                    flex-direction: row-reverse;
                }

                &::before {
                    position: absolute;
                    content: "";
                    top: 50%;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    transform: translateY(-50%) rotate(45deg);
                    width: 18px;
                    height: 18px;
                    background: $color_text;
                }
            }

            .img {
                width: 50%;
                @include Responsive(MOBILE) {
                    width: 100%;
                    margin-bottom: 1rem;
                }

                img {
                    border-radius: 20px;
                }
            }

            .title {
                width: 50%;
                font-weight: 700;
                @include font_24;

                @include Responsive(MOBILE) {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

.personnel-section {
    .personnel-slider {
        .item-slider {
            position: relative;
            @include Responsive(MOBILE) {
                max-width: 384px;
                margin-left: auto;
                margin-right: auto;
            }

            .img-person {
                padding-bottom: 120%;
                margin-bottom: 1.5rem;

                img {
                    border-radius: 20px;
                }
            }

            .icon-instagram {
                position: absolute;
                top: 15px;
                right: 24px;
                font-size: 32px;
                pointer-events: none;

                &::before {
                    color: $color_text;
                }
            }

            .name-person {
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}

.partner-section {
    .list-partner {
        row-gap: 1.3rem;

        .item {
            background-color: #fff;
            border-radius: 20px;
            padding: 1rem;

            .t-box-img {
                padding-bottom: 82%;
            }
        }
    }
}

@import "./common/footer";
