@import "./fonts.css";
@import "../fonts/icomoon/style.css";
@import "./css3_animations.css";
@import "./common/variable";
@import "./common/common";
@import "./common/header";
@import "./section/breadcrumb.scss";

.blog-big-section {
    margin-top: 2rem;

    @include Responsive(MOBILE) {
        margin-top: 0;
    }

    .author-blog {
        font-size: 14px;
        color: #828282;
        margin-bottom: 5px;
    }
    .title-blog {
        display: block;
        font-family: $font_title;
        @include font_34;
        font-weight: 600;
        color: $color_text;
        margin-bottom: 1rem;
    }

    .desc-blog {
        margin-bottom: 2rem;
    }
}

@import "./section/blog-slider.scss";
@import "./common/footer";
