@import "./fonts.css";
@import "../fonts/icomoon/style.css";
@import "./css3_animations.css";
@import "./common/variable";
@import "./common/common";
@import "./common/header";
@import "./section/breadcrumb.scss";

.breadcrumb-section {
    @include Responsive(IPAD) {
        height: auto;
        background-image: none !important;

        .t-breadcrumb {
            &::before {
                display: none;
            }
        }

        .t-breadcrumb ul li.active span {
            color: $color_text;
        }

        .t-breadcrumb li + li:before {
            color: #9f9f9f;
        }
    }
}

.contact-section {
    @include Responsive(IPAD) {
        padding-top: 0;
    }
}
.box-contact {
    display: flex;
    // column-gap: 32px;
    @include Responsive(IPAD) {
        flex-wrap: wrap;
    }

    .box-left {
        width: 50%;

        @include Responsive(IPAD) {
            width: 100%;
        }

        iframe {
            width: 100%;
            height: 100%;

            @include Responsive(IPAD) {
                height: 450px;
                margin-bottom: 1rem;
            }
        }
    }
    .box-right {
        width: 50%;
        padding: 0 30px;
        @include Responsive(IPAD) {
            width: 100%;
            padding: 0 15px;
        }

        .list-contact {
            margin-bottom: 2rem;

            .item {
                display: flex;
                align-items: flex-start;
                margin-bottom: 1rem;
                color: #203046;
                font-size: 1.2rem;

                &:last-child {
                    @include Responsive(LG) {
                        margin-bottom: 0;
                    }
                }

                i {
                    min-width: 30px;
                    text-align: center;
                    margin-right: 12px;
                    &::before {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .form-contact {
        max-width: 600px;

        .title {
            @include font_24;
            font-weight: 600;
            margin-bottom: 5px;
        }

        .item {
            margin-bottom: 1rem;

            input,
            select,
            textarea {
                min-height: 3rem;
                border-radius: 0;
                font-size: 14px;
                border: 1px solid rgba(188, 188, 188, 1);
            }
        }
    }
}

#toasts {
    position: fixed;
    top: 10%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 99;

    @include Responsive(MOBILE) {
        top: 20px;
    }
}

.toast {
    background-color: #fff;
    padding: 1rem 1rem;
    border-radius: 5px;
    margin: 0.5rem;
}

.toast.info {
    color: rebeccapurple;
    background-color: #fff;
}
.toast.success {
    color: #fff;
    background-color: green;
}
.toast.error {
    color: #fff;
    background-color: red;
}
.toast.warning {
    background-color: yellow;
    color: black;
}

@import "./section/slogan-section.scss";
@import "./common/footer";
