@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-BlackItalic.eot");
    src: url("../fonts/Montserrat/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Montserrat/Montserrat-BlackItalic.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-BlackItalic.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype"),
        url("../fonts/Montserrat/Montserrat-BlackItalic.svg#Montserrat-BlackItalic") format("svg");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Bold.eot");
    src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"),
        url("../fonts/Montserrat/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Black.eot");
    src: url("../fonts/Montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Montserrat/Montserrat-Black.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Black.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype"),
        url("../fonts/Montserrat/Montserrat-Black.svg#Montserrat-Black") format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-ExtraLight.eot");
    src: url("../fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Montserrat/Montserrat-ExtraLight.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype"),
        url("../fonts/Montserrat/Montserrat-ExtraLight.svg#Montserrat-ExtraLight") format("svg");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-BoldItalic.eot");
    src: url("../fonts/Montserrat/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Montserrat/Montserrat-BoldItalic.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-BoldItalic.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype"),
        url("../fonts/Montserrat/Montserrat-BoldItalic.svg#Montserrat-BoldItalic") format("svg");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Italic.eot");
    src: url("../fonts/Montserrat/Montserrat-Italic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Montserrat/Montserrat-Italic.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Italic.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-Italic.ttf") format("truetype"),
        url("../fonts/Montserrat/Montserrat-Italic.svg#Montserrat-Italic") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.eot");
    src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-ExtraLightItalic.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype"),
        url("../fonts/Montserrat/Montserrat-ExtraLightItalic.svg#Montserrat-ExtraLightItalic") format("svg");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.eot");
    src: url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype"),
        url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.svg#Montserrat-ExtraBoldItalic") format("svg");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot");
    src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype"),
        url("../fonts/Montserrat/Montserrat-ExtraBold.svg#Montserrat-ExtraBold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Light.eot");
    src: url("../fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Montserrat/Montserrat-Light.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype"),
        url("../fonts/Montserrat/Montserrat-Light.svg#Montserrat-Light") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-MediumItalic.eot");
    src: url("../fonts/Montserrat/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Montserrat/Montserrat-MediumItalic.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-MediumItalic.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype"),
        url("../fonts/Montserrat/Montserrat-MediumItalic.svg#Montserrat-MediumItalic") format("svg");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Medium.eot");
    src: url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype"),
        url("../fonts/Montserrat/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-LightItalic.eot");
    src: url("../fonts/Montserrat/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Montserrat/Montserrat-LightItalic.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-LightItalic.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype"),
        url("../fonts/Montserrat/Montserrat-LightItalic.svg#Montserrat-LightItalic") format("svg");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.eot");
    src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-SemiBoldItalic.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype"),
        url("../fonts/Montserrat/Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic") format("svg");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-ThinItalic.eot");
    src: url("../fonts/Montserrat/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Montserrat/Montserrat-ThinItalic.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-ThinItalic.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-ThinItalic.ttf") format("truetype"),
        url("../fonts/Montserrat/Montserrat-ThinItalic.svg#Montserrat-ThinItalic") format("svg");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-SemiBold.eot");
    src: url("../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype"),
        url("../fonts/Montserrat/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Thin.eot");
    src: url("../fonts/Montserrat/Montserrat-Thin.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Montserrat/Montserrat-Thin.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Thin.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype"),
        url("../fonts/Montserrat/Montserrat-Thin.svg#Montserrat-Thin") format("svg");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Regular.eot");
    src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
        url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"),
        url("../fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 10pt";
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-BlackItalic.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-BlackItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-BlackItalic.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-BlackItalic.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-BlackItalic.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-BlackItalic.svg#NunitoSans10pt-BlackItalic") format("svg");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 10pt";
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-Bold.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Bold.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Bold.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Bold.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Bold.svg#NunitoSans10pt-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 10pt";
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-BoldItalic.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-BoldItalic.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-BoldItalic.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-BoldItalic.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-BoldItalic.svg#NunitoSans10pt-BoldItalic") format("svg");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 10pt";
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraBold.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraBold.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraBold.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraBold.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraBold.svg#NunitoSans10pt-ExtraBold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 10pt";
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-Black.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-Black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Black.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Black.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Black.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Black.svg#NunitoSans10pt-Black") format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 10pt";
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraBoldItalic.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraBoldItalic.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraBoldItalic.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraBoldItalic.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraBoldItalic.svg#NunitoSans10pt-ExtraBoldItalic") format("svg");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 10pt";
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-LightItalic.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-LightItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-LightItalic.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-LightItalic.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-LightItalic.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-LightItalic.svg#NunitoSans10pt-LightItalic") format("svg");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 10pt";
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-Light.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Light.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Light.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Light.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Light.svg#NunitoSans10pt-Light") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 10pt";
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-Italic.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-Italic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Italic.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Italic.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Italic.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Italic.svg#NunitoSans10pt-Italic") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 10pt";
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-Medium.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Medium.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Medium.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Medium.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Medium.svg#NunitoSans10pt-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 10pt";
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraLight.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraLight.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraLight.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraLight.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraLight.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraLight.svg#NunitoSans10pt-ExtraLight") format("svg");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 10pt";
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraLightItalic.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraLightItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraLightItalic.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraLightItalic.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraLightItalic.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-ExtraLightItalic.svg#NunitoSans10pt-ExtraLightItalic") format("svg");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 10pt";
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-Regular.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Regular.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Regular.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Regular.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-Regular.svg#NunitoSans10pt-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 10pt";
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-SemiBold.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-SemiBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-SemiBold.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-SemiBold.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-SemiBold.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-SemiBold.svg#NunitoSans10pt-SemiBold") format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 10pt";
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-MediumItalic.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-MediumItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-MediumItalic.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-MediumItalic.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-MediumItalic.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-MediumItalic.svg#NunitoSans10pt-MediumItalic") format("svg");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 10pt";
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-SemiBoldItalic.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans10pt-SemiBoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-SemiBoldItalic.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-SemiBoldItalic.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-SemiBoldItalic.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans10pt-SemiBoldItalic.svg#NunitoSans10pt-SemiBoldItalic") format("svg");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 7pt";
    src: url("../fonts/Nunito_Sans/NunitoSans7pt-ExtraBold.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans7pt-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-ExtraBold.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-ExtraBold.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-ExtraBold.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-ExtraBold.svg#NunitoSans7pt-ExtraBold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 7pt";
    src: url("../fonts/Nunito_Sans/NunitoSans7pt-Black.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans7pt-Black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-Black.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-Black.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-Black.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-Black.svg#NunitoSans7pt-Black") format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 7pt";
    src: url("../fonts/Nunito_Sans/NunitoSans7pt-SemiBold.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans7pt-SemiBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-SemiBold.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-SemiBold.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-SemiBold.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-SemiBold.svg#NunitoSans7pt-SemiBold") format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 7pt";
    src: url("../fonts/Nunito_Sans/NunitoSans7pt-Bold.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans7pt-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-Bold.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-Bold.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-Bold.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-Bold.svg#NunitoSans7pt-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 7pt";
    src: url("../fonts/Nunito_Sans/NunitoSans7pt-Medium.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans7pt-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-Medium.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-Medium.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-Medium.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-Medium.svg#NunitoSans7pt-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 7pt";
    src: url("../fonts/Nunito_Sans/NunitoSans7pt-Regular.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans7pt-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-Regular.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-Regular.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-Regular.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-Regular.svg#NunitoSans7pt-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 7pt";
    src: url("../fonts/Nunito_Sans/NunitoSans7pt-Light.eot");
    src: url("../fonts/Nunito_Sans/NunitoSans7pt-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-Light.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-Light.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-Light.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-Light.svg#NunitoSans7pt-Light") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans 7pt";
    src: url("../fonts/Nunito_Sans/");
    src: url("../fonts/Nunito_Sans/?#iefix") format("embedded-opentype"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-ExtraLight.woff2") format("woff2"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-ExtraLight.woff") format("woff"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-ExtraLight.ttf") format("truetype"),
        url("../fonts/Nunito_Sans/NunitoSans7pt-ExtraLight.svg#NunitoSans7pt-ExtraLight") format("svg");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
