@import "./fonts.css";
@import "../fonts/icomoon/style.css";
@import "./css3_animations.css";
@import "./common/variable";
@import "./common/common";
@import "./common/header";
@import "./section/breadcrumb.scss";

.policy-section {
    .nav-pills-policy {
        display: flex;
        justify-content: center;
        column-gap: 1.78rem;
        row-gap: 15px;

        @include Responsive(MOBILE) {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            justify-content: flex-start;
            padding-bottom: 10px;
        }

        .nav-item {
            .nav-link {
                display: flex;
                align-items: center;
                border: 1px solid $color_text;
                border-radius: 50px;
                color: $color_text;
                font-weight: 700;
                padding: 13px 2rem;

                @include Responsive(MOBILE) {
                    width: max-content;
                }

                &.active {
                    color: #fff;
                    background-color: $color_main;
                    border-color: $color_main;

                    i {
                        color: #fff;

                        span::before {
                            color: #fff;
                        }
                    }
                }

                i {
                    margin-right: 10px;
                    color: $color_text;
                }
            }
        }
    }

    hr {
        margin-top: 2.7rem;
        margin-bottom: 1.7rem;
        border: 1px solid rgba(160, 160, 160, 1);
        @include Responsive(MOBILE) {
            margin-top: 1.7rem;
            margin-bottom: 1.4rem;
        }
    }
    .tab-content-policy {
    }
}

.faq-item {
    background-color: rgba(241, 241, 241, 1);
    margin-bottom: 10px;
    border-radius: 20px;

    .faq-title {
        position: relative;
        padding: 28px 20px 28px 80px;
        margin: 0;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.4s;
        @include Responsive(MOBILE) {
            padding: 25px 15px 25px 60px;
        }

        &.active {
            padding-bottom: 0;
            &::after {
                transform: translateY(-50%) rotate(-45deg);
                color: $color_main;
                border-color: $color_main;
            }
        }

        &:after {
            position: absolute;
            content: "\e912";
            font-family: "icomoon" !important;
            top: 50%;
            left: 15px;
            font-size: 12px;
            transform: translateY(-50%);
            transition: all 0.3s;
            width: 34px;
            height: 34px;
            border: 1px solid $color_text;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            @include Responsive(MOBILE) {
                width: 30px;
                height: 30px;
            }
        }
    }

    .faq-content {
        padding: 15px 20px 25px 80px;
        display: none;

        @include Responsive(MOBILE) {
            padding: 14px 15px 20px 60px;
        }
    }
}

@import "./section/slogan-section.scss";
@import "./common/footer";
