@import "./fonts.css";
@import "../fonts/icomoon/style.css";
@import "./css3_animations.css";
@import "./common/variable";
@import "./common/common";
@import "./common/header";
@import "./section/breadcrumb.scss";

.project-section {
    .top-project {
        .title-main {
            text-transform: uppercase;
        }
        .box-content-line {
            margin-top: 1rem;
        }
    }

    .box-tab-project {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1.5rem;

        .project-nav-tabs {
            border: 0;
            display: flex;
            align-content: flex-start;
            padding-right: 50px;

            @include Responsive(LG) {
                width: 220px;
            }

            @include Responsive(IPAD) {
                flex-wrap: nowrap;
                overflow-x: auto;
            }

            .nav-item {
                margin-bottom: 1rem;
                width: 100%;
                @include Responsive(IPAD) {
                    width: max-content;
                    margin-right: 5px;
                }

                button {
                    position: relative;
                    border: 0;
                    border-radius: 3rem;
                    color: #b3b3b3;
                    font-family: $font_title;
                    font-weight: 600;
                    padding: 10px 0 10px 30px;
                    text-transform: uppercase;
                    text-align: left;
                    width: 100%;
                    @include Responsive(IPAD) {
                        width: max-content;
                        padding: 7px 30px 7px 35px;
                    }

                    &::before {
                        position: absolute;
                        content: "";
                        top: 50%;
                        left: 15px;
                        width: 4px;
                        height: 4px;
                        background: #b3b3b3;
                        border-radius: 50%;
                        transform: translateY(-50%);
                        @include Responsive(IPAD) {
                            left: 25px;
                        }
                    }

                    &:hover,
                    &.active {
                        color: $color_black;
                        @include Responsive(IPAD) {
                            background: $color_main;
                        }

                        &::before {
                            background: #000;
                        }
                    }
                }
            }
        }

        .project-tab-content {
            width: 100%;
            @include Responsive(LG) {
                width: calc(100% - 220px);
            }

            .project-slider {
                .btn-viewdetail {
                    margin-top: 1rem;
                }
            }
        }
    }
}

@import "./section/project-slider.scss";

@import "./section/connect-section.scss";
@import "./common/footer";
