@import "./fonts.css";
@import "../fonts/icomoon/style.css";
@import "./css3_animations.css";
@import "./common/variable";
@import "./common/common";
@import "./common/header";

.title-result {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    @include font_34;
}

.list-blog {
    .item-blog {
        margin-bottom: 3rem;
    }
}

.list-project {
    .item-project {
        margin-bottom: 3rem;
    }
}

@import "./section/blog-slider.scss";
@import "./section/project-slider.scss";

@import "./common/footer";
