@import "./fonts.css";
@import "../fonts/icomoon/style.css";
@import "./css3_animations.css";
@import "./common/variable";
@import "./common/common";
@import "./common/header";

.about-home-section {
    @include Responsive(IPAD) {
        padding-top: 2rem;
    }

    .home-slider {
        .item-slider {
            display: flex;
            @include Responsive(IPAD) {
                flex-wrap: wrap;
                text-align: center;
            }

            .box-left {
                position: relative;
                width: 50%;

                @include Responsive(IPAD) {
                    width: 100%;
                }

                .title-slider {
                    font-size: 6.5rem;
                    font-weight: 600;
                    font-family: $font_title;
                    line-height: 1.2;
                    text-shadow: 1px 2px 1px #fff;
                    z-index: 1;

                    @include Responsive(IPAD) {
                        display: block;
                    }
                    @include Responsive(XS) {
                        font-size: 3rem;
                    }
                    @include Responsive(SM) {
                        font-size: 3rem;
                    }
                    @include Responsive(MD) {
                        font-size: 4rem;
                    }
                    @include Responsive(LG) {
                        font-size: 4.5rem;
                    }
                    @include Responsive(XL) {
                        font-size: 6rem;
                    }
                    @include Responsive(X17) {
                        font-size: 6.5rem;
                    }

                    &.title-custom {
                        @include Responsive(LG) {
                            position: absolute;
                            top: 25%;
                            right: -19%;
                        }
                    }
                }

                .img-left {
                    width: 60%;
                    @include Responsive(IPAD) {
                        width: 100%;
                        margin-top: 1rem;
                    }
                }

                .box-content-line {
                    margin-top: 40px;

                    .btn-viewmore {
                        @include Responsive(IPAD) {
                            margin: 0 auto;
                        }
                    }
                }
            }

            .box-right {
                width: 50%;
                padding-left: 4.5rem;

                @include Responsive(IPAD) {
                    display: none;
                }
            }
        }
    }
}

.story-home-section {
    .content-story {
        .btn-viewdetail {
            margin-left: auto;
        }
    }
}

.project-home-section {
    .list-project {
        margin-bottom: 4.445rem;

        .item-project-big {
            align-items: center;

            @include Responsive(IPAD) {
                margin-bottom: 3rem;
            }

            &:last-child {
                @include Responsive(LG) {
                    display: flex;
                    flex-direction: row-reverse;
                }
            }

            &:first-child {
                .btn-viewdetail {
                    @include Responsive(LG) {
                        margin-left: auto;
                    }
                }
            }
            &:nth-child(2n + 2) {
                @include Responsive(LG) {
                    margin-top: 2rem;
                }
                @include Responsive(XL) {
                    margin-top: -2.3rem;
                }
            }

            .img-project {
                @include Responsive(IPAD) {
                    margin-bottom: 1.5rem;
                }

                img {
                    border-radius: 20px;
                }
            }

            .title-project {
                margin-bottom: 1.4rem;
            }
            .desc-project {
                margin-bottom: 2.78rem;
                @include Responsive(IPAD) {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}

@import "./section/project-slider.scss";

.blog-home-section {
    > .container {
        position: relative;
    }
    .btn-viewmore {
        margin: 2rem auto 0;
        @include Responsive(LG) {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    @import "./section/blog-slider.scss";
}

@import "../css/section/connect-section.scss";
@import "./common/footer";
