*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-weight: 400;
    font-family: $font_main;
    line-height: 1.4;
    color: $color_text;

    @include Responsive(XS) {
        line-height: 1.3;
        font-size: 14px;
    }
    @include Responsive(SM) {
        font-size: 15px;
    }
    @include Responsive(LG) {
        font-size: 16px;
    }
    @include Responsive(XL) {
        font-size: 16.5px;
    }
    @include Responsive(XXL) {
        font-size: 17px;
    }
    @include Responsive(X17) {
        font-size: 17.5px;
    }
}

main {
    min-height: 250px;
}

a {
    text-decoration: none;

    &:hover {
        color: $color_main;
    }
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    border-color: rgba(255, 178, 0, 0.6) !important;
    outline: 0;
    -webkit-box-shadow:
        inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 1px rgba(242, 126, 127, 0.6) !important;
    box-shadow:
        inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 1px rgba(242, 126, 127, 0.6) !important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url("../../images/icons/i-select.svg") !important;
    background-position: calc(100% - 8px) 50%;
    background-repeat: no-repeat;
    background-size: 8px !important;
    padding-left: 10px;
    padding-right: 18px !important;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    border-color: #878787;
    opacity: 0.25;

    @include Responsive(MOBILE) {
        margin: 0.9rem 0;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;

    @include Responsive(XXL) {
        max-width: 1230px;
    }
}

.row > * {
    padding-right: 15px;
    padding-left: 15px;
}

section {
    overflow: hidden;
}

.padding-section {
    padding: 5.6rem 0;
    @include Responsive(IPAD) {
        padding: 4.5rem 0;
    }
    @include Responsive(MOBILE) {
        padding: 3.6rem 0;
    }
}

.bg-gray {
    background-color: $bg_gray;
}

.show-desktop {
    display: none;
    @include Responsive(MD) {
        display: block;
    }
}

.show-mobile {
    display: block;
    @include Responsive(MD) {
        display: none;
    }
}

.iframe-video {
    position: relative;
    padding-bottom: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.title-main {
    @include font_60;
    font-weight: 600;
    font-family: $font_title;
}
.title-main-2 {
    @include font_34;
    font-weight: 600;
    font-family: $font_title;
}

.title-section {
    margin-bottom: 2rem;
}

.text-underline {
    text-decoration: underline;
}

.bg-img-section {
    background-position: center;
}

.box-1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.box-content-line {
    position: relative;

    &::before {
        @include Responsive(XL) {
            position: absolute;
            content: "";
            top: 0.5rem;
            left: 0;
            width: 4.84rem;
            height: 1px;
            background-color: #000;
        }
    }

    .box-content {
        @include Responsive(XL) {
            padding-left: 6.4rem;
            text-align: justify;

            .t-box-editor {
                @include Responsive(LG) {
                    margin-bottom: 2.78rem;
                }
            }
        }
    }
}

.btn-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    color: $color_text;
    font-weight: 700;
    transition: all 0.3s;

    &:hover {
        &.btn-viewmore {
            background: $color_main;
        }
    }

    &.btn-viewmore {
        padding: 1rem 1.5rem;
        border: 1px solid #344054;
        border-radius: 30px;
        @include Responsive(MOBILE) {
            padding: 0.8rem 1.3rem;
        }
        &:hover {
            color: #344054;
        }

        i {
            font-size: 8px;
            @include Responsive(MOBILE) {
                font-size: 6px;
            }
        }
    }

    &.btn-viewdetail {
        &:hover {
            i::before {
                color: $color_main !important;
            }
        }
        i {
            font-size: 8px;
        }
    }

    i {
        margin-left: 1.4rem;
        transition: all 0.3s;
    }
}

// Css Box image
.box-img-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.box-img-flex.y-img-left {
    justify-content: flex-start;
}
.box-img-flex img {
    width: auto !important;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.t-box-img {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}
.t-box-img .link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.t-box-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.form-main {
}

// Owl Slider
.modal {
    .modal-header {
        @include Responsive(MOBILE) {
            padding: 10px 16px;
        }
    }

    .style-nav-slider {
        .owl-nav {
            button.owl-prev,
            button.owl-next {
                width: 1.8rem;
                height: 1.8rem;
            }

            .owl-prev {
                left: -0.9rem;

                span {
                    padding-right: 1px;
                }
            }

            .owl-next {
                right: -0.9rem;
                span {
                    padding-left: 1px;
                }
            }
        }
    }
}

// Nav Slider
.style-nav-slider {
    &.style-nav-slider-2 {
        .owl-nav {
            .owl-prev,
            .owl-next {
                top: 44%;
            }
        }
    }

    .owl-nav {
        button.owl-prev,
        button.owl-next {
            position: absolute;
            top: 50%;
            width: 2.94rem;
            height: 2.94rem;
            transform: translateY(-50%);

            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-radius: 100%;
            box-shadow: 0px 0px 0px 1px #c9c9c9;

            @include Responsive(MOBILE) {
                width: 2.4rem;
                height: 2.4rem;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 1);
            }

            i {
                font-size: 11px;
                @include Responsive(MOBILE) {
                    font-size: 9px;
                }
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .owl-prev {
            left: -1.4rem;
        }

        .owl-next {
            right: -1.4rem;

            i {
                transform: rotate(180deg);
            }
        }
    }
}

.style-dots-slider {
    .owl-dots {
        display: flex;
        justify-content: center;
        column-gap: 4px;
        margin-top: 2.5rem;

        .owl-dot {
            width: 3rem;
            height: 4px;
            background-color: rgba(0, 0, 0, 0.3) !important;
            border-radius: 4px;

            &.active {
                background-color: #000 !important;
            }
        }
    }
}

.t-text-editor,
.t-box-editor {
    * {
        // max-width: 100%;
    }

    h1 {
        @include font_72;
    }
    h2 {
        @include font_64;
    }
    h3 {
        @include font_48;
    }
    h4 {
        @include font_34;
    }
    h5 {
        @include font_24;
    }
    h6 {
        @include font_18;
    }

    blockquote {
        margin: 0 0 1.25em;
        padding: 0 1.25em 0 1.875em;
        border-left: 2px solid #111;
        font-style: italic;
    }

    p {
        margin-bottom: 10px;
    }
    img {
        max-width: 100%;
        height: auto !important;
    }
    iframe {
        max-width: 100%;
    }

    .box-iframe {
        position: relative;
        height: 0;
        overflow: hidden;
        padding-bottom: 26.2%;
        padding-top: 30%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    table {
        width: 100%;
    }

    i {
        font-style: italic;
    }

    u {
        text-decoration: underline;
    }

    a {
        text-decoration: underline;
    }

    b,
    strong {
        font-weight: bold;
    }
    ul {
        padding-left: 30px;
        list-style-type: disc;

        li {
            display: list-item;
            list-style-type: disc;
        }
    }

    ol {
        padding-left: 30px;
        list-style-type: decimal;

        li {
            display: list-item;
            list-style-type: decimal;
        }
    }

    blockquote {
        border-left: 5px solid #000;
    }

    figure.image {
        figcaption {
            text-align: center;
            margin-top: 5px;
            font-size: 0.9rem;
            font-style: italic;
        }
    }
}

.list-social {
    display: flex;
    column-gap: 1rem;

    li {
        display: inline-block;

        a {
            text-decoration: none;
            color: #fff;
            border-radius: 50%;
            width: 26px;
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                i::before {
                    color: $color_main;
                }

                svg {
                    g {
                        fill: $color_main;
                    }
                }
            }

            i {
                font-size: 26px;
            }
        }
    }
}
