.header {
    background-color: $color_black;
    position: sticky;
    top: 0;
    z-index: 99;

    .box-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        @include Responsive(IPAD) {
        }
    }

    .menu-header {
        display: flex;
        justify-content: space-between;
        column-gap: 3rem;

        @include Responsive(IPAD) {
            display: none;
        }

        li {
            display: flex;
            align-items: center;

            &.active {
                a {
                    color: $color_main;
                }
            }

            &.has-submenu {
                position: relative;

                &:hover {
                    .sub-menu {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                .sub-menu {
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin: 0 auto;
                    padding-top: 35px;
                    width: max-content;
                    background: #000;
                    transform: translateX(-50%);
                    transition: all 0.5s;
                    opacity: 0;
                    visibility: hidden;

                    li {
                        padding: 10px 20px;

                        &:hover {
                            background-color: #d9d9d9;

                            a {
                                color: $color_text;
                            }
                        }
                    }
                }
            }

            a {
                color: #fff;
                font-size: 1rem;
                font-weight: 500;
                text-transform: uppercase;
                &:hover {
                    color: $color_main;
                }
            }
        }
    }

    .menu-left {
        @include Responsive(IPAD) {
            display: none;
        }
    }

    .logo {
        a {
            height: 3.66rem;
        }
    }

    .menu-right {
        .box-search-lang {
            display: flex;
            align-items: center;

            .toggle-search {
                display: flex;
                &:hover {
                    i {
                        color: $color_main;
                    }
                }
                i {
                    font-size: 24px;
                }
            }

            .lang {
                position: relative;
                border: 1px solid #a1a1a1;
                border-radius: 14px;
                padding: 2px 5px;
                margin-left: 10px;

                a {
                    padding: 0 10px;

                    &:not(.active) {
                        color: #a1a1a1;
                        &:hover {
                            color: $color_main;
                        }
                    }
                }

                ::before {
                    position: absolute;
                    content: "";
                    top: 10%;
                    left: 0;
                    right: 0;
                    height: 80%;
                    width: 2px;
                    background-color: #a1a1a1;
                    margin: 0 auto;
                }
            }
        }

        .btn-menu-mobile {
            display: flex !important;
            align-items: center;
            @include Responsive(LG) {
                display: none !important;
            }

            i {
                color: #fff;
                font-size: 20px;
            }
        }
    }

    .search-header {
        display: none;
        background-color: #f1f1f1;
        padding: 2rem 0;

        .form-search {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 1.4rem;

            .input-search {
                position: relative;

                input {
                    background-color: #fff;
                    border: 0;
                    border-radius: 30px;
                    width: 740px;
                    height: 60px;
                    padding: 10px 4.5rem 10px 2rem;

                    &::-webkit-input-placeholder {
                        /* Edge */
                        color: $color_text;
                    }
                    &:-ms-input-placeholder {
                        /* Internet Explorer 10-11 */
                        color: $color_text;
                    }
                    &::placeholder {
                        color: $color_text;
                    }
                }
            }

            .btn-search {
                position: absolute;
                top: 50%;
                right: 2rem;
                transform: translateY(-50%);

                &:hover {
                    i {
                        color: $color_main;
                    }
                }

                i {
                    color: #a3a3a3;
                    font-size: 24px;
                }
            }

            .close {
                display: flex;
                i {
                    color: #203046;
                    font-size: 24px;
                }
            }
        }
    }
}

/* CSS Menu mobile */
.t-mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -85%;
    width: 85%;
    max-width: 400px;
    background-color: #f3f3f3;
    box-sizing: border-box;
    font-size: 14px;
    transition: 0.2s;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999;

    &.show {
        left: 0;
    }

    .m-menu__title {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.5);

        .title {
            font-size: 14px;
            margin: 0;
            text-align: center;
            width: 100%;
        }

        .m-menu-close {
            padding: 0;
            font-size: 26px;
            width: 26px;
            height: 26px;
            text-align: center;
            line-height: 22px;
            text-decoration: none;
            color: #111;
            transform: translateY(-50%) rotate(45deg);
            position: absolute;
            top: 50%;
            right: 8px;
        }
    }

    ul {
        margin: 0;
        padding-left: 0;

        li {
            position: relative;
            list-style-type: none;

            &.active > a {
                color: $color_main;
            }

            &.has-submenu a {
                padding-right: 35px;
            }

            & > a:before {
                content: "";
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                display: block;
                position: absolute;
                left: 20px;
                right: 0;
                bottom: 0;
            }

            a {
                color: #000;
                text-decoration: none;
                display: block;
                padding: 11px 20px;
                transition: 0.2s;
                line-height: 1.3;
            }
        }
    }

    .has-submenu {
        &.opened > .btn-toggle-sub:before {
            content: "-";
        }

        & > a {
            position: relative;
        }
        & > .btn-toggle-sub {
            width: 40px;
            height: 42px;
            max-height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            color: #000;
            z-index: 2;

            &:before {
                content: "+";
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.2s;
                font-size: 18px;
            }
        }

        .sub-menu {
            padding-left: 20px;
            display: none;
            li {
                a {
                    font-size: 14px;
                }
            }
        }
    }
}

.overlay-menu.active {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.5s;
    z-index: 888;
}
