@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?95k2w5');
  src:  url('fonts/icomoon.eot?95k2w5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?95k2w5') format('truetype'),
    url('fonts/icomoon.woff?95k2w5') format('woff'),
    url('fonts/icomoon.svg?95k2w5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-network:before {
  content: "\e900";
}
.icon-zalo:before {
  content: "\e901";
  color: #fff;
}
.icon-instagram:before {
  content: "\e902";
  color: #fff;
}
.icon-youtube:before {
  content: "\e903";
  color: #fff;
}
.icon-facebook:before {
  content: "\e904";
  color: #fff;
}
.icon-phone:before {
  content: "\e905";
}
.icon-email:before {
  content: "\e906";
}
.icon-address:before {
  content: "\e907";
}
.icon-arrow-left-slider:before {
  content: "\e908";
}
.icon-arrow-viewmore:before {
  content: "\e909";
  color: #344054;
}
.icon-payment .path1:before {
  content: "\e90a";
  color: rgb(0, 0, 0);
}
.icon-payment .path2:before {
  content: "\e90b";
  margin-left: -1.4169921875em;
  color: rgb(32, 48, 70);
}
.icon-payment .path3:before {
  content: "\e90c";
  margin-left: -1.4169921875em;
  color: rgb(32, 48, 70);
}
.icon-tools:before {
  content: "\e90d";
}
.icon-info:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90f";
}
.icon-close:before {
  content: "\e910";
}
.icon-menu-trigger:before {
  content: "\e911";
}
.icon-plus:before {
  content: "\e912";
}
.icon-send-mail:before {
  content: "\e913";
}
