.blog-slider {
    .item-blog {
        .img-blog {
            margin-bottom: 1.8rem;
        }

        .author-blog {
            margin-bottom: 0.7rem;
            color: #b3b3b3;
        }

        .title-blog {
            display: block;
            color: $color_text;
            @include font_22;
            font-family: $font_title;
            font-weight: 600;
            margin-bottom: 0.8rem;
            text-transform: uppercase;

            &:hover {
                color: $color_main;
            }
        }
    }
}
