.breadcrumb-section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 46vh;
    min-height: 400px;
    max-height: 600px;
    background-position: center;

    @include Responsive(MOBILE) {
        height: 400px;
        min-height: initial;
    }

    &.no-banner {
        height: auto;
        min-height: auto;

        .t-breadcrumb ul li.active span {
            color: $color_text;
        }

        .t-breadcrumb li + li:before {
            color: #9f9f9f;
        }
    }
}

.t-breadcrumb {
    position: relative;
    width: 100%;
    padding: 1.4rem 0;
    list-style: none;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
    }

    ul {
        margin-bottom: 0;

        li {
            position: relative;
            display: inline;

            &.active {
                span {
                    color: #fff;
                }
            }

            a {
                position: relative;
                color: #9f9f9f;
                text-decoration: none;
                font-weight: 700;

                &:hover {
                    color: $color_main;
                }
            }
        }
    }

    li + li:before {
        padding: 8px 5px;
        color: #fff;
        content: "/\00a0";
    }
}
