.connect-home-section {
    background-color: rgba(0, 0, 0, 30%);
    text-align: center;
    min-height: 364px;

    .title-main {
        position: relative;
        color: #fff;
        margin-bottom: 1.7rem;
    }

    .box-connect {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 3.5rem;
        @include Responsive(IPAD) {
            flex-wrap: wrap;
        }
        .box-left {
            @include Responsive(IPAD) {
                width: 100%;
                margin-bottom: 2rem;
            }
        }

        .form-connect {
            position: relative;

            input {
                color: #fff;
                border: 1px solid #fff;
                border-radius: 30px;
                width: 524px;
                height: 60px;
                padding: 10px 4.5rem 10px 2rem;
                background-color: transparent;

                @include Responsive(IPAD) {
                    width: 100%;
                }

                &::-webkit-input-placeholder {
                    /* Edge */
                    color: #fff;
                }
                &:-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    color: #fff;
                }
                &::placeholder {
                    color: #fff;
                }
            }

            .btn-send {
                position: absolute;
                top: 50%;
                right: 2rem;
                transform: translateY(-50%);

                i {
                    color: #fff;
                    font-size: 26px;
                }
            }
        }

        .list-social {
            a {
                i {
                }
            }
        }
    }
}
