.project-slider {
    .owl-stage {
        padding-left: 0px !important;
    }

    .item-project {
        .img-project {
            margin-bottom: 1.4rem;
            img {
                border-radius: 20px;
            }
        }

        .title-project {
            display: block;
            font-size: 1.222rem;
            font-weight: 600;
            font-family: $font_title;
            margin-bottom: 1.2rem;
            color: $color_text;

            &:hover {
                color: $color_main;
            }
        }

        .btn-viewdetail {
            margin-top: 1rem;
        }
    }
}
