.slogan-section {
    min-height: 363px;
    display: flex;
    align-items: center;
    text-align: center;
    background-size: cover;

    .title-slogan {
        color: #fff;
        text-transform: uppercase;
    }
}
